{% extends 'back.html.twig' %}

{% block title %}Ordonnance index{% endblock %}

{% block body %}
    <h1 align="center">Ordonnance</h1>

    <table class="table">
        <thead>
        <tr>
            <th>IdOrdonnance</th>
            <th>Dateajout</th>
            <th>ModeUtilisation</th>
            <th>Nomprenompatient</th>
            <th>Médicaments</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td>{{ ordonnance.idOrdonnance }}</td>
                <td>{{ ordonnance.dateajout }}</td>
                <td>{{ ordonnance.modeUtilisation }}</td>
                <td>{{ ordonnance.nomprenompatient }}</td>
                <td>{{ ordonnance.idProduit.nomProd }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_ordonnance_new') }}">Create new</a>

{% endblock %}
