{% extends 'acceilfarm.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ajouter Produit</h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="basic-form">
                    <form>

                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Nom Produit</label>
                                {{ form_widget (form.nomProd,{'attr':{'class':'form-control'}}) }}


                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Discription</label>
                                {{ form_widget(form.discription,{'attr':{'class':'form-control'}}) }}
                                {# <input type="text" class="form-control" placeholder="Nom Produit">#}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Quantité</label>
                                {{ form_widget(form.quantite,{'attr':{'class':'form-control'}}) }}
                                {# <input type="text" class="form-control" placeholder="Nom Produit">#}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Prix</label>
                                {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}

                                {# <input type="text" class="form-control" placeholder="Nom Produit">#}

                            </div>

                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label class="form-label">Catégories</label>

                                <select {{ form_widget(form.categories,{'attr':{'class':'form-control'}})}} id="inputState" >
                                    <option selected>Choose...</option>
                                    <option>Medicament</option>
                                    <option>Bébé & Maman</option>
                                    <option>Complement Alimentaire</option>
                                </select>
                            </div>

                        </div>


                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>

        </div>
    </div>

    {#  <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">back to list</a>#}
{% endblock %}
