{% extends 'acceilmed.html.twig' %}

{% block title %}Ordonnance{% endblock %}

{% block body %}
    <h1>Ordonnance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdOrdonnance</th>
                <td>{{ ordonnance.idOrdonnance }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{{ ordonnance.dateajout }}</td>
            </tr>
            <tr>
                <th>ModeUtilisation</th>
                <td>{{ ordonnance.modeUtilisation }}</td>
            </tr>
            <tr>
                <th>Nomprenompatient</th>
                <td>{{ ordonnance.nomprenompatient }}</td>
            </tr>
        </tbody>
    </table>
 <!--   <a href="{{ path('app_ordonnance_pdf') }}">Imprimer</a> -->
    <a href="{{ path('app_ordonnance_index') }}">back to list</a>

    <a href="{{ path('app_ordonnance_edit', {'idOrdonnance': ordonnance.idOrdonnance}) }}">edit</a>
    {{ include('ordonnance/_pdf_form.html.twig') }}
    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
