{% extends 'acceilpatient.html.twig' %}

{% block title %}CommandeWeb{% endblock %}

{% block body %}
    <h1>CommandeWeb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdComd</th>
                <td>{{ commande_web.idComd }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ commande_web.quantite }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ commande_web.destination }}</td>
            </tr>
            <tr>
                <th>DateComd</th>
                <td>{{ commande_web.dateComd ? commande_web.dateComd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_web_index') }}">back to list</a>

    <a href="{{ path('app_commande_web_edit', {'idComd': commande_web.idComd}) }}">edit</a>

    {{ include('commande_web/_delete_form.html.twig') }}
{% endblock %}
