{% extends 'acceilfarm.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idfact</th>
                <th>Nom Produit</th>
                <th>Nom Patient</th>
                <th>Prenom Patient</th>
                <th>Quantite</th>
                <th>PrixTot</th>
                <th>Prix avec Remise</th>
                <th>actions</th>
            </tr>


        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.idfact }}</td>
                <td>{{ facture.idProd.nomProd }}</td>
                <td>{{ facture.idPatien.nomPatient}}</td>
                <td>{{ facture.idPatien.prenomPatient}}</td>
                <td>{{ facture.quantite }}</td>
                <td>{{ facture.prixTot }}</td>
                <td>{{ facture.prixar }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'idfact': facture.idfact}) }}">show</a>
                    <a href="{{ path('app_facture_edit', {'idfact': facture.idfact}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Create new</a>
{% endblock %}
